
<h1> Lista de eventos</h1>
<div *ngIf =" usuario$ | async as usuario">
<div class = "container-fluid" *ngIf=" eventos && estructuraEvento" >

    <div *ngIf="mensaje" class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
         {{mensaje}}
      </div>
    <div class="row" *ngIf="eventos.length > 0">

      <div  *ngFor="let evento of eventos; let i = index" class="col-lg-6 evento card-block  item-evento">
          <img width = "100%" src="{{evento.imagen}}" class="img-rounded" alt="imagen  {{evento.nombre}}">
          
           <div  *ngIf="evento.estado == 'CC'" class= "head-evento-cancelado">
              Cancelado
            </div>
        <div [class.boton-editar-cancelado]="evento.estado == 'CC'" [routerLink]="['/edit-event/', evento.id]"   class="list-group-item list-group-item-action flex-column align-items-start " [class.active]="evento === eventoSeleccionado" (click)="seleccionarEvento(evento)">
          <div class="d-flex w-100 justify-content-between" title="Click para editar">
            <h5 class="mb-1">{{evento.nombre}}</h5>
            <small style = "margin-left: auto;" ><b>Desde el</b> {{evento.fechaInicio | date:'MM/dd/yyyy'}} <b> hasta el </b>{{evento.fechaFinalizacion | date:'MM/dd/yyyy'}} </small>
            
            <br>
          </div>
          <p class="mb-1">Descripción: {{evento.descripcion}}</p>
          <p class="mb-1">Precio: ${{evento.precio}}</p>
        <!-- <small> Last updated: {{evento.fechaInicio | date:'MM/dd/yyyy' | amTimeAgo:true}}</small>-->  
        </div>
        <div [class.opciones-cancelado]="evento.estado == 'CC'" class="opciones-evento">

          <a  *ngIf="usuario.rol == 'UP' && evento.estado == 'SI'" (click)="preinscripcion(evento)" class="btn btn-sm btn-secondary">Preinscribirme</a>&nbsp;
          <!--<a href="" class="btn btn-sm btn-secondary">Ver detalles</a>&nbsp;-->
          
          
          
            <div class=" btn-group dropup">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Opciones
                </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
             <button *ngIf="usuario.rol != 'UP'" [routerLink]="['/edit-event/', evento.id]"  class="dropdown-item">Editar</button>
          <button *ngIf="usuario.rol != 'UP'"  class="dropdown-item" data-toggle="modal" [attr.data-target]="'.usuarios-preinscritos'+i">Usuarios Preinscritos</button>
          <button *ngIf="usuario.rol != 'UP'" class="dropdown-item" data-toggle="modal" data-target=".usuarios-inscritos">Usuarios Inscritos</button>
          </div>
        </div>
         
        <!--  <a (click)="eliminarEvento(evento, i)"  class="btn btn-sm btn-danger">Eliminar</a>-->
          <b  class = "float-right" >{{getDisplayNameEstado(evento)}}&nbsp;</b>
          

        </div>

      
        
        <div class="modal fade usuarios-preinscritos{{i}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-xl">
            <div class="modal-content">
              <app-listUsers  [evento]="evento"  ></app-listUsers>
            </div>
          </div>
        </div>
        
       <div class="modal fade usuarios-inscritos" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-xl">
            <div class="modal-content">
              <app-listUsers  [evento]="evento"  ></app-listUsers>
            </div>
          </div>
        </div>
       
      </div>
      

  </div>
  <div *ngIf="eventos.length == 0">
      <div class="alert alert-warning" role="alert">
          <strong>Opps!</strong> No hay eventos registrados eventos aún
          <a [routerLink]="['/events/']" [routerLinkActive]="['router-link-active']"  class="float-right" >Registrar uno ahora?</a>
        </div>
  </div>
</div>
</div>