
<div class="card-columns">
<div *ngIf =" usuario$ | async as usuario" [@routerTransition]>
<div class = "container-fluid" *ngIf=" eventos " >
    <h1 *ngIf=" eventos.length > 0 "> Lista de eventos</h1>
    <div *ngIf="mensaje" class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
         {{mensaje}}
      </div>
    <div class="row" *ngIf="eventos.length > 0">


  </div>
  <div *ngIf="eventos.length == 0">
      <div class="alert alert-warning" role="alert">
          <strong>Opps!</strong> No hay eventos registrados aún
          <a *ngIf="usuario.rol !== 'UP'" [routerLink]="['/events/']" [routerLinkActive]="['router-link-active']"  class="float-right" >Registrar uno ahora?</a>
        </div>
        
        
          
    <div  class=" btn-group dropup">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Opciones
        </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <button *ngIf="usuario.rol != 'UP'" [routerLink]="['/edit-event/', evento.id]"  class="dropdown-item">Editar</button>
      <button *ngIf="usuario.rol != 'UP'"  (click) = "construirUsuariosPreInscritos(evento)" class="dropdown-item" data-toggle="modal" [attr.data-target]="'.usuarios-preinscritos'+i">Usuarios Preinscritos</button>
      <button *ngIf="usuario.rol != 'UP'" (click) = "construirUsuariosInscritos(evento)" class="dropdown-item" data-toggle="modal" [attr.data-target] ="'.usuarios-inscritos'+i">Usuarios Inscritos</button>
      <button  [routerLink]="['/listActivities']" [queryParams]="{id: evento.id}" class="dropdown-item">Ver lista de actividades</button>
  </div>
</div>
        
        
  </div>
</div>

<div class="modal fade usuarios-preinscritos{{i}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-xl">
    <div class="modal-content">
      <app-listUsers *ngIf="usuariosYRegistros"  [usuariosYRegistros] = "usuariosYRegistros" [evento]="evento"  ></app-listUsers>
      <p *ngIf="!usuariosYRegistros"> <br>Cargando ...  <br></p>
    </div>
  </div>
</div>

<div class="modal fade usuarios-inscritos{{i}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-xl">
    <div class="modal-content">
      <app-listUsers-inscritos *ngIf="usuariosYRegistrosInscritos" [usuariosYRegistros] = "usuariosYRegistrosInscritos" [evento]="evento"  ></app-listUsers-inscritos>
       <p *ngIf="!usuariosYRegistrosInscritos"> <br>Cargando ...  <br></p>
    </div>
  </div>
</div>



  <a  *ngIf="usuario.rol == 'UP' && evento.estado == 'SI'" (click)="preinscripcion(evento)" class="btn btn-sm btn-secondary">Preinscribirme</a>&nbsp;
  <!--<a href="" class="btn btn-sm btn-secondary">Ver detalles</a>&nbsp;-->
  
  



</div>
</div>