<div class="pos-f-t header contenedor-principal">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 fixed-top nav-principal">
                <a href=""><strong>IEDB</strong></a>
                <a [routerLink]="['/signup']"  id="singup-principal" class="float-right">Registrarse</a>
                <a [routerLink]="['/login']"  id="ingresar-principal" class="float-right">Ingresar</a>
            </div>
        </div>
        <div class="row">
          <div class="col-12 carousel-principal">
              
          </div>
          <div class="separador col-12"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
            <h3>Noticias</h3>
            <hr>
            <div *ngFor="let noticia of noticias; let i = index;" class="noticia-principal col-12">
              <div class="img-noticia" [style.backgroundImage]="'url('+ noticia.imagen +')'"></div>
              <span>{{noticia.titulo}}</span>
              <p>{{noticia.resumen}}</p>
            </div>
            
              
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
            
          </div>
        </div>
        <div class="row">
          <div class="footer-principal col-12">
              <footer>
                  
              </footer>
          </div>
        </div>
    </div>
</div>


