 
<div class= "lista-usuarios">
 <div  *ngIf="usuariosYRegistros.length > 0" [@routerTransition]>
        <div class="container-fluid">
            <h3>Lista de usuarios pre inscritos</h3><hr>

            <div class="row">
 
                <table class="table">
                    <thead class="thead-inverse">
                        <tr>
                            <th class = "hidden-md-down" >#</th>
                            <th class = "hidden-sm-down" >Nombres</th>
                            <th class = "hidden-sm-down">Apellidos</th>
                            <th>Nick</th>
                            <th class = "hidden-sm-down">Correo</th>
                            <th class = "hidden-sm-down">Estado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuarioYRegistro of usuariosYRegistros; let i = index;">
                            <th class = "hidden-md-down"  scope="row">{{usuarioYRegistro[0].numero_identificacion}}</th>
                            <td class = "hidden-sm-down">{{usuarioYRegistro[0].nombres}}</td>
                            <td class = "hidden-sm-down">{{usuarioYRegistro[0].apellidos}}</td>
                            <td>@{{usuarioYRegistro[0].username}}</td>
                            <td class = "hidden-sm-down">{{usuarioYRegistro[0].custom_email}}</td>

                            <td class = "hidden-sm-down" *ngIf="!usuarioYRegistro[0].estadoHabilitado">Inactivo</td>
                            <td class = "hidden-sm-down" *ngIf="usuarioYRegistro[0].estadoHabilitado">Activo</td>
                            <td>

                            <div class = "hidden-sm-down"  *ngIf="evento.estado === 'SI'"  class="in-line" >
                                <button *ngIf="usuarioYRegistro[1] === 'E' || usuarioYRegistro[1] === 'R'" (click)="aceptarPreinscripcion(usuarioYRegistro[0], evento)"  class="btn hidden-sm-down btn-sm btn-primary">Aceptar</button>
                                <button *ngIf="usuarioYRegistro[1] === 'E' || usuarioYRegistro[1] === 'A'"  (click)="rechazarPreinscripcion(usuarioYRegistro[0], evento)"  class="btn hidden-sm-down btn-sm btn-danger">Rechazar</button>
                            </div>
                            <div class="dropdown hidden-md-up">
                                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Opciones
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <button *ngIf="usuarioYRegistro[1] === 'E' || usuarioYRegistro[1] === 'R'" (click)="aceptarPreinscripcion(usuarioYRegistro[0], evento)"   class="dropdown-item">Aceptar</button>
                                      <button *ngIf="usuarioYRegistro[1] === 'E' || usuarioYRegistro[1] === 'A'"  (click)="rechazarPreinscripcion(usuarioYRegistro[0], evento)"  class="dropdown-item">Rechazar</button>
                                    </div>
                                  </div>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class= "text-center" *ngIf="usuariosYRegistros.length == 0">
        <h3>No hay usuarios pre inscritos en este evento</h3>
    </div>
</div> 