<!--The content below is only a placeholder and can be replaced.-->

    <h1>{{coneccion.token}}</h1>
      <div *ngFor="let evento of eventos">
        <div class= "container-fluid">
          <div class = "row">
            <div class = "col-lg-12 col-md-6 col-xs-12">{{evento.nombre}} </div>
          </div>
          <div class = "row">
            <div class = "col-lg-12 col-md-6 col-xs-12"> {{evento.descripcion}} </div>
          </div>
          <div class ="row">
            <div class = "col-lg-3 col-md-6 col-xs-6">{{evento.fechaInicio}}</div>
            <div class = "col-lg-3 col-md-6 col-xs-6">{{evento.fechaFinalizacion}}</div>
          </div>
      </div>
      </div>

