<div *ngIf="usuarioLogueado$ | async as usuarioLogueado"[@routerTransition]>
    <h2 class="text-muted">Bienvenido: <strong>{{usuarioLogueado.nombres}} {{usuarioLogueado.apellidos}}</strong> (@{{usuarioLogueado.username}})<!--<small>Statistics Overview</small>--></h2>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h3>Estos son los cinco eventos que estan por iniciar</h3>
            <ngb-carousel *ngIf = "cincoEventosMasProximos$ | async as cincoEventosMasProximos">
                <ng-template ngbSlide *ngFor="let evento of cincoEventosMasProximos">
                    <!--<img class="img-fluid mx-auto d-block" [src]="evento.imagen" alt="evento.nombre" width="100%">-->
                    <img class="img-dashboard img-fluid mx-auto d-block" [src]="" [style.backgroundImage]="'url('+ evento.imagen +')'" width="100%">
                    <div class="carousel-caption">
                        <h3>{{evento.nombre}}</h3>
                        <p>{{evento.descripcion}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <hr>
    <div *ngIf = "estadisticasEventos$ | async as estadisticasEventos" class="row">
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'card-primary'" [icon]="'fa-calendar-plus-o'" [count]="estadisticasEventos.cantidadEventosSinIniciar" [label]="'Eventos Nuevos'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'card-info'" [icon]="'fa-tasks'" [count]="estadisticasEventos.cantidadEventosEnCurso" [label]="'Eventos en Curso'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'card-success'" [icon]="'fa-calendar-times-o'" [count]="estadisticasEventos.cantidadEventosTerminados" [label]="'Eventos Terminados'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'card-danger'" [icon]="'fa-lock'" [count]="estadisticasEventos.cantidadEventosCancelados" [label]="'Eventos Cancelados'"></app-stat>
        </div>
    </div>
    
    
</div>
