<div *ngIf="usuarioLogueado$ | async as usuarioLogueado"[@routerTransition]>
    <h2 class="text-muted">Bienvenido: <strong>{{usuarioLogueado.nombres}} {{usuarioLogueado.apellidos}}</strong> (@{{usuarioLogueado.username}})<!--<small>Statistics Overview</small>--></h2>
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel *ngIf = "cincoEventosMasProximos$ | async as cincoEventosMasProximos">
                <ng-template ngbSlide *ngFor="let evento of cincoEventosMasProximos">
                    <img class="img-fluid mx-auto d-block" [src]="evento.imagen" alt="evento.nombre" width="100%">
                    <div class="carousel-caption">
                        <h3>{{evento.nombre}}</h3>
                        <p>{{evento.descripcion}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
        <h2>Estos son los cinco eventos que estan por iniciar</h2>
    </div>
    <hr>
    <div *ngIf = "estadisticasEventos$ | async as estadisticasEventos" class="row">
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'card-primary'" [icon]="'fa-calendar-plus-o'" [count]="estadisticasEventos.cantidadEventosSinIniciar" [label]="'Eventos Nuevos'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'card-info'" [icon]="'fa-tasks'" [count]="estadisticasEventos.cantidadEventosEnCurso" [label]="'Eventos en Curso'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'card-success'" [icon]="'fa-calendar-times-o'" [count]="estadisticasEventos.cantidadEventosTerminados" [label]="'Eventos Terminados'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'card-danger'" [icon]="'fa-lock'" [count]="estadisticasEventos.cantidadEventosCancelados" [label]="'Eventos Cancelados'"></app-stat>
        </div>
    </div>
    <hr />
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>
    <hr />
    <div class="row">
        <div class="col-lg-8">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                </div>
                <!-- /.card-header -->
                <app-timeline></app-timeline>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-bell fa-fw"></i> Notifications card
                </div>
                <!-- /.card-header -->
                <app-notification></app-notification>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <app-chat></app-chat>
            <!-- /.card .chat-card -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
</div>
