.carousel-caption{
    background-color: rgba(0,0,0,0.8) ;
    border-radius: 10px;
    a {
        color: white;
    }
}

.img-dashboard{
    height: 20em;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0);
    background-position: center;
}