
    <div class = "row">
        <div  class = "col-lg-6"  *ngFor= "let noticia in noticias">
        
        
            <app-preview-noticia [noticia] = "noticia" [usuario] = "usuario"> </app-preview-noticia>
        <div  class="opciones-noticia">
             <a *ngIf="usuario.rol != 'UP'" [routerLink]="['/editarNoticia/', noticia.id]"  class="btn btn-sm btn-success">Editar</a>
             <a *ngIf="usuario.rol != 'UP'" (click)= "desactivarNoticia(noticia)"  class="btn btn-sm btn-success">Desactivar</a>
        </div>
        </div>
    </div>