.btn {
    color: white !important;
}

.opciones-noticia{
  padding: 0.3em;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.bloque-noticia{
  box-shadow: 0 0 30px #888888;
  margin-bottom: 2em;
  padding: 0.5em;
}