<div class="">
  <div *ngIf="inscripcionesConEvento" class="" [@routerTransition]>
    <div class="container-fluid">

      <app-preview-evento-inscripcion *ngFor="let inscripcionConEvento of inscripcionesConEvento;" [inscripcionConEvento]="inscripcionConEvento">
      </app-preview-evento-inscripcion>
    </div>
  </div>
</div>

<div *ngIf="inscripcionesConEvento.length == 0">
  <div class="alert alert-warning" role="alert">
    <strong>Opps!</strong> No se ha inscrito a ningun evento
  </div>
</div>