@import '../../app.component.scss';
.img-perfil{
    border-radius: 5px;
}
@media(max-width: 720px){
    .img-perfil{
        margin: auto;
        display: block;
    }
    .actualizar-imagen{
        margin-bottom: 1em;
    }
}

@media(min-width: 720px){
    .formulario-perfil{
        border-left: 1px solid #efefef;
        margin-left: 5px;
    }
}
