<div *ngIf = "usuarioLogueado$ | async as usuario" [@routerTransition]>
    <div class="container-fluid">
        <h1>Lista de usuarios</h1><hr>
        <div class="row">
            <div class="form-group">
             <!--   <input  (keyup)="filtrar($event)" type="" name="filtro" value="" [(ngModel)]='filtro' class="form-control" placeholder="Buscar: Nick o Correo">-->
                
            </div>
            <table class="table">
                <thead class="thead-inverse">
                    <tr>
                        <th class="hidden-sm-down">#</th>
                        <th class="hidden-sm-down">Nombres</th>
                        <th class="hidden-sm-down">Apellidos</th>
                        <th>Nick</th>
                        <th class="hidden-sm-down">Correo</th>
                        <th class="hidden-sm-down">Rol</th>
                        <th class="hidden-sm-down">Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuariosFiltrados; let i = index;">
                        <th scope="row">{{usuario.numero_identificacion}}</th>
                        <td class="hidden-sm-down">{{usuario.nombres}}</td>
                        <td class="hidden-sm-down">{{usuario.apellidos}}</td>
                        <td>@{{usuario.username}}</td>
                        <td class="hidden-sm-down">{{usuario.custom_email}}</td>
                        <td class="hidden-sm-down">{{usuario.rol}}</td>
                        <td *ngIf="usuario.estadoHabilitado"><a class="btn btn-sm btn-primary">Activo</a></td>
                        <td *ngIf="!usuario.estadoHabilitado"><a class="btn btn-sm btn-danger">Inactivo</a></td>
                        <td><a href="" [routerLink]="['/editSystemUser']" [queryParams]="{username: usuario.username}" class="btn btn-sm btn-primary">Editar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>