<div *ngIf="estructuraEvento && inscripcionConEvento" class="preview-evento col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  
    
    <div class="preview-evento-title">
      <span>{{inscripcionConEvento.evento.nombre}}</span>
    </div>
    <div class="img-min-evento" [style.backgroundImage]="'url('+ inscripcionConEvento.evento.imagen +')'"></div>
    <hr>
    <div *ngIf="inscripcionConEvento.evento.estado == 'CC'" class="head-evento-cancelado">
      Cancelado
    </div>
    <div [class.boton-editar-cancelado]="inscripcionConEvento.evento.estado == 'CC'" class="" [class.active]="evento === eventoSeleccionado" (click)="seleccionarEvento(evento)">
      
      <p class="card-text text-justify preview-descripcion"><strong>Descripción</strong><br> {{inscripcionConEvento.evento.descripcion}}</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <p class="mb-1">Precio: ${{inscripcionConEvento.evento.precio}}</p>
        </li>
        <li class="list-group-item">
          <p class="card-text">
            <small class="text-muted">
              <b>Desde el</b> {{inscripcionConEvento.evento.fechaInicio | date:'MM/dd/yyyy'}}
              <b> hasta el </b>{{inscripcionConEvento.evento.fechaFinalizacion | date:'MM/dd/yyyy'}} </small>
          </p>
        </li>
      </ul>
    </div>
    <div [class.opciones-cancelado]="inscripcionConEvento.evento.estado == 'CC'" class="card-footer preview-estado" style="width: 100%">
      <!--  <a (click)="eliminarEvento(evento, i)"  class="btn btn-sm btn-danger">Eliminar</a>-->
      <b class="preview-estado-b">{{getDisplayNameEstado(inscripcionConEvento.evento)}}&nbsp;</b>
    </div>
    <hr>


  <div *ngIf="usuarioLogueado$ | async as  usuario" class=" preview-opciones btn-group dropup">
    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Opciones
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <button [routerLink]="['/listActivities']" [queryParams]="{id: inscripcionConEvento.evento.id}" class="dropdown-item">Ver lista de actividades</button>
      <button (click) = "aceptarInscripcion(inscripcionConEvento)" class="dropdown-item">Aceptar inscripcion</button>
      <button class="dropdown-item">Rechazar inscripcion</button>
    </div>
  </div>
</div>