<div *ngIf = "estructuraEvento && evento" class="card col-lg-6 col-xl-6 col-md-12 col-sm-12">
  
  <div class="img-min-evento" [style.backgroundImage]="'url('+ evento.imagen +')'"></div>
   <div  *ngIf="evento.estado == 'CC'" class= "head-evento-cancelado">
      Cancelado
    </div>
    <div [class.boton-editar-cancelado]="evento.estado == 'CC'"   class="card-block" [class.active]="evento === eventoSeleccionado" (click)="seleccionarEvento(evento)">
    
      <h4 class="card-title">{{evento.nombre}}</h4>
    
      <p class="card-text text-justify">Descripción: {{evento.descripcion}}</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> <p class="mb-1">Precio: ${{evento.precio}}</p></li>
          <li class="list-group-item">  <p class="card-text"><small class="text-muted"><b>Desde el</b> {{evento.fechaInicio | date:'MM/dd/yyyy'}} <b> hasta el </b>{{evento.fechaFinalizacion | date:'MM/dd/yyyy'}} </small></p></li>
        </ul>
    </div>
<div [class.opciones-cancelado]="evento.estado == 'CC'" class="card-footer " style = "width: 100%">

 
<!--  <a (click)="eliminarEvento(evento, i)"  class="btn btn-sm btn-danger">Eliminar</a>-->
  <b  class = "float-right" >{{getDisplayNameEstado(evento)}}&nbsp;</b>
  

</div>


<div *ngIf = "usuarioLogueado$ | async as  usuario"  class=" btn-group dropup">
    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Opciones
    </button>
<div  class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  <button *ngIf="usuario.rol != 'UP'" [routerLink]="['/edit-event/', evento.id]"  class="dropdown-item">Editar</button>
  <button *ngIf="usuario.rol != 'UP'"  (click) = "construirUsuariosPreInscritos(evento)" class="dropdown-item" data-toggle="modal" [attr.data-target]="'.usuarios-preinscritos'+i">Usuarios Preinscritos</button>
  <button *ngIf="usuario.rol != 'UP'" (click) = "construirUsuariosInscritos(evento)" class="dropdown-item" data-toggle="modal" [attr.data-target] ="'.usuarios-inscritos'+i">Usuarios Inscritos</button>
  <button  [routerLink]="['/listActivities']" [queryParams]="{id: evento.id}" class="dropdown-item">Ver lista de actividades</button>
  <button *ngIf="usuario.rol != 'UP'" [routerLink]="['/newActivity']" [queryParams]="{idEvent: evento.id}" class="dropdown-item">Crear actividad</button>
</div>


</div>
</div>