<div [@routerTransition]>
    <div class="container-fluid">
        <h1>Lista de usuarios</h1><hr>
        <div class="row">
            <div class="form-group">
                <input (keyup)="filtrar($event)" type="" name="filtro" value="" [(ngModel)]='filtro' class="form-control" placeholder="Buscar: Nick o Correo">
            </div>
            <table class="table">
                <thead class="thead-inverse">
                    <tr>
                        <th>#</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Nick</th>
                        <th>Correo</th>
                        <th>Rol</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuariosFiltrados; let i = index;">
                        <th scope="row">{{usuario.numero_identificacion}}</th>
                        <td>{{usuario.nombres}}</td>
                        <td>{{usuario.apellidos}}</td>
                        <td>@{{usuario.username}}</td>
                        <td>{{usuario.custom_email}}</td>
                        <td>{{usuario.rol}}</td>
                        <td *ngIf="!usuario.estadoHabilitado"><button (click)="activarUsuario(usuario.username, i)" class="btn btn-sm btn-primary">Activar</button></td>
                        <td *ngIf="usuario.estadoHabilitado"><button (click)="desactivarUsuario(usuario.username, i)" class="btn btn-sm btn-danger">Inactivar</button></td>
                        <td><a href="" [routerLink]="['/editSystemUser']" [queryParams]="{username: usuario.username}" class="btn btn-sm btn-primary">Editar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>