<div *ngIf="usuario && actividades" [@routerTransition]>
        <h1>Lista de actividades</h1>
        <hr>
        <div class="actividad" *ngFor="let actividad of actividades; let i = index;">
            <div class="actividad-titulo">Actividad: {{actividad.nombre}}</div>
            <div class="actividad-descripcion">{{actividad.descripcion}}</div>
            <div class="actividad-fecha"><strong>Inicio:</strong> {{actividad.fechaInicio|date:'dd/MM/yyyy hh:mm:ss'}}</div>
            <div class="actividad-fecha"><strong>Finalización:</strong> {{actividad.fechaFinalizacion|date: 'dd/MM/yyyy hh:mm:ss' }}</div>
            <div class="actividad-opciones">
                <a *ngIf ="usuario.rol == 'UP'" href="javascript:void(0);" (click)='participar(actividad.id);' class="btn btn-success btn-sm btn-participar-2">
                    Participar/retirarse
                </a>
            </div>
        </div>
        
        
     <div *ngIf="actividades.length == 0">
      <div class="alert alert-warning" role="alert">
          <strong>Opps!</strong> No hay actividades registradas aún
        </div>
  </div>
</div>