<div [@routerTransition]>
 <h1>Creacion de eventos</h1>
  <div *ngIf="estructuraEvento" >
  <form #eventForm="ngForm" > 
      <div *ngFor="let error of errores['non_field_errors']" class="alert alert-warning alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong>Algo va mal! </strong> {{error}}
        </div>

    <div  [class.has-danger] = "errores.nombre" class="form-group col-12">
        <label class = "col-form-label" for="nombre" >{{estructuraEvento.nombre.label}}</label>
        <input  [class.form-control-danger] = "errores.nombre" [(ngModel)]="event.nombre" id="nombre"  name="nombre" type="text" class="form-control" >
        <div ngFor="let error of errores.nombre" >
          <span class="help-block">{{errores.nombre}}</span>
      </div>
    </div>
    <div [class.has-danger] = "errores.descripcion" class="form-group col-12">
        <label class = "col-form-label" for="descripcion" >{{estructuraEvento.descripcion.label}}</label>
        <textarea [class.form-control-danger] = "errores.descripcion" [(ngModel)]="event.descripcion" id="descripcion" name="descripcion" type="text" class="form-control"> </textarea>
        <div ngFor="let error of errores.descripcion" >
          <span class="help-block">{{errores.descripcion}}</span>
      </div>
    </div>
    <div [class.has-danger] = "errores.fechaInicio" class="form-group col-12">
        <label for="example-datetime-local-input" class="col-8 col-form-label">{{estructuraEvento.fechaInicio.label}}</label>
          <input  [class.form-control-danger] = "errores.fechaInicio" [(ngModel)]="event.fechaInicio"  id="fechaInicio" name="fechaInicio" class="form-control" type="datetime-local" value="2011-08-19T13:45:00">
            <div ngFor="let error of errores.fechaInicio" >
              <span class="help-block">{{errores.fechaInicio}}</span>
        </div>
      </div>

      <div [class.has-danger] = "errores.fechaFinalizacion" class="form-group  col-12 " >
          <label  for="example-datetime-local-input" class="col-8 col-form-label">{{estructuraEvento.fechaFinalizacion.label}}</label>
            <input [class.form-control-danger] = "errores.fechaFinalizacion" [(ngModel)]="event.fechaFinalizacion" id="fechaFinalizacion" name="fechaFinalizacion" class="form-control " type="datetime-local" value="2011-08-19T13:45:00" >
            <div ngFor="let error of errores.fechaFinalizacion" >
              <span class="help-block">{{errores.fechaFinalizacion}}</span>
          </div>
      </div>
      <div  [class.has-danger] = "errores.estado" class="form-group col-12">
          <label for="estado" class="col-form-label">{{estructuraEvento.estado.label}}</label>
          <select [class.form-control-danger] = "errores.estado" [(ngModel)]="event.estado" id="estado" name="estado" class="form-control" > 
            <option *ngFor="let opcion of estructuraEvento.estado.choices" [ngValue]="opcion.value">{{opcion.display_name}}</option>
          </select>
                    <div ngFor="let error of errores.estado" >
              <span class="help-block">{{ errores.estado}}</span>
          </div>
      </div>
        <div class="text-center">
          <button (click)="newEvent()" type="button" class="btn btn-primary float-right">Registrar evento</button>
        </div>
    </form>
  </div>
</div>