

<form #NoticiaForm="ngForm"  > 
    <div *ngFor="let error of errores['non_field_errors']" class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong>Algo va mal! </strong> {{error}}
      </div>

  <div  [class.has-danger] = "errores['nombre']" class="form-group col-12">
      <label class = "col-form-label" for="titulo" >Titulo</label>
      <input  [class.form-control-danger] = "errores['titulo']" [(ngModel)]="noticia.titulo" id="titulo"  name="titulo" type="text" class="form-control" >
      <div ngFor="let error of errores['titulo']" >
        <span class="help-block">{{errores['titulo']}}</span>
    </div>
  </div>
  <div [class.has-danger] = "errores['descripcion']" class="form-group col-12">
      <label class = "col-form-label" for="descripcion" >Resumen</label>
      <textarea [class.form-control-danger] = "errores['descripcion']" [(ngModel)]="noticia.resumen" id="resumen" name="resumen" type="text" class="form-control"> </textarea>
      <div ngFor="let error of errores['resumen']" >
        <span class="help-block">{{errores['resumen']}}</span>
    </div>
  </div>
  <label class = "col-form-label" for="contenido" >Contenido</label>
  <app-simple-tiny
  [elementId]="'my-editor-id'"
  [contenido]="contenido"
  (onEditorKeyup)="keyupHandlerFunction($event)"
  >
  </app-simple-tiny>
  




  </form>